<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121823650-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121823650-1');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dj 10053r</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!-- [if lt IE 9] --><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><!-- [endif] -->

</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#header">Alien's Training Station</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#header" accesskey="1" title="">Main</a></li>
			<li><a href="#featured" accesskey="2" title="">About</a></li>
			<li><a href="#page" accesskey="3" title="">Genres</a></li>
			<!-- <li><a href="#mix" accesskey="4" title="">Tracks</a></li> -->
			<li><a href="#sets" accesskey="5" title="">Sets</a></li>
			<li><a href="#contact" accesskey="6" title="">Contact</a></li>
		</ul>
	</div>
</div>
<div id="banner"></div>
<div id="page" class="container">
	<div class="boxA">
		<h2>DnB</h2>
		<div class="box">
			<a href="https://en.wikipedia.org/wiki/Drum_and_bass" class="image image-full"><img src="img/pic05.jpg" alt="" /></a>
			<span>Drum and Bass</span>
		</div>
	</div>
	<div class="boxB">
		<h2>Techno</h2>
		<div class="box">
			<a href="https://en.wikipedia.org/wiki/Techno" class="image image-full"><img src="img/pic01.jpg" alt="" /></a>
			<span>All about techno</span>
		</div>
	</div>
	<div class="boxC">
		<h2>Goa</h2>
		<div class="box">
			<a href="https://en.wikipedia.org/wiki/Goa_trance" class="image image-full"><img src="img/pic04.jpg" alt="" /></a>
			<span>Goa trance</span>
		</div>
	</div>
</div>
<div id="sets" class="container">
	<div class="align-left">
		<span class="fa fa-star"></span>
	</div>
	<div class="align-right">
		<p><h2>Live sets</h2></p>
		<p><li><a href="https://grooveo.com/home?groove_id=7830">5hrs DnB set</a></li>
		<p><li><a href="https://grooveo.com/home?groove_id=8235">5hrs Tech set</a></li>
		<p><li><a href="https://grooveo.com/home?groove_id=7645">2hrs DnB set</a></li>
		<p><li><a href="https://soundcloud.com/10053r/rec-test-mix">1hr Tech set</a></li>
		<p><li><a href="https://livesets.com/10053r/session/13616">1hr Chill set</a></li>
		<p><li><a href="https://livesets.com/10053r/session/11537">1hr Hard set</a></li>
		<p><li><a href="https://livesets.com/10053r/session/11756">1hr Goa set</a></li>
	</div>
</div>
<div id="featured" class="container">
	<div class="align-left">
		<span class="fa fa-facebook"></span>	
	</div>
	<div class="align-right">
		<p><h2>Featured</h2>
		<br>Created for serving public information and sharing some data  
		<br>
		<br>Some useful links:
		<br>
		<br><a href="https://livesets.com/10053r">Livesets</a>
		<br><a href="https://www.mixcloud.com/jay-dee23">Mixcloud</a>
		<br><a href="http://studio089.de">Studio089</a>
		<br>
		<br>Have Fun :]
		</p>	
		<a href="https://facebook.com/10053r" class="button">Visit FB page</a>
	</div>
</div>
<div id="contact" class="container">
	<div class="align-left">
		<span class="fa fa-user"></span>
	</div>
	<div class="align-right">
		<p><h2>Contact Form</h2> <!-- still WIP -->
		<br>
		<form action="">
			<label for="name">Name</label>
			<input type="text" id="fname" name="firstname" placeholder="Your name..">
			<label for="subject">Subject</label>
			<textarea id="subject" name="subject" placeholder="Write something.." style="height:140px"></textarea>
			<!-- <input type="submit" value="Submit"> -->
			<a href="#" class="button">Submit</a>
			</form>
	</div>
</div>
<div id="copyright" class="container">
	<p>WIP by<a href="#header">10053r</a> &copy; 2018</p>
</div>
<audio autoplay loop><source src="mp3/brmix.mp3" type="audio/mpeg"></audio>
</body>
</html>
