<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dj 10053r</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/assets/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#header">Alien's Training Station</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#header" accesskey="1" title="">Main</a></li>
			<li><a href="#featured" accesskey="2" title="">About</a></li>
			<li><a href="#page" accesskey="3" title="">Genres</a></li>
			<!-- <li><a href="#mix" accesskey="4" title="">Mixes</a></li> -->
			<li><a href="#sets" accesskey="5" title="">Sets</a></li>
			<li><a href="#contact" accesskey="6" title="">Contact</a></li>
		</ul>
	</div>
</div>
<div id="banner"></div>
<div id="page" class="container">
	<div class="boxA">
		<h2>DnB</h2>
		<div class="box">
			<a href="https://en.wikipedia.org/wiki/Drum_and_bass" class="image image-full"><img src="img/pic05.jpg" alt="" /></a>
			<span>Drum and Bass</span>
		</div>
		<!--
		<p>Drum and Bass is a genre and branch of electronic music which emerged from rave and jungle scenes in England during the early 1990s.</p>
		<a href="https://en.wikipedia.org/wiki/Drum_and_bass" class="button">Learn more</a>
		-->
	</div>

	<div class="boxB">
		<h2>Techno</h2>
		<div class="box">
			<a href="https://en.wikipedia.org/wiki/Techno" class="image image-full"><img src="img/pic01.jpg" alt="" /></a>
			<span>All about techno</span>
		</div>
		<!--
		<p>Techno is a form of electronic dance music that emerged in Detroit, Michigan, in the United States during the mid-to-late 1980s.</p>
		<a href="https://en.wikipedia.org/wiki/Techno" class="button">Learn more</a>
		-->
	</div>

	<div class="boxC">
		<h2>Goa</h2>
		<div class="box">
			<a href="https://en.wikipedia.org/wiki/Goa_trance" class="image image-full"><img src="img/pic04.jpg" alt="" /></a>
			<span>Goa trance</span>
		</div>
		<!--
		<p>Goa trance is an electronic music style that originated during the late 1980s in Goa, India and often has funky basslines, similar to the techno.</p>
		<a href="https://en.wikipedia.org/wiki/Goa_trance" class="button">Learn more</a>
		-->
	</div>
</div>
<!--
<div id="mix" class="container">
	<div class="align-left">
		<span class="fa fa-play-circle-o"><span>
	</div>
	<div class="align-right">
		<h2>Last played tracks</h2>
		<pre>
		<br><a href="mp3/14.mp3">Disastar - Enigma</a> (7:27)
		<br><a href="mp3/06.mp3">Lose - Red Line</a> (6:39)
		<br><a href="mp3/10.mp3">Allan Snowden - Terror</a> (8:00)
		<br><a href="mp3/18.mp3">M.K.R. - Blackwindow</a> (7:12)
		<br><a href="mp3/17.mp3">Loso - Clap Clap</a> (6:24)
		<br><a href="mp3/16.mp3">Hardom - La Tormenta</a> (7:38)
		<br><a href="mp3/21.mp3">Mikhe - Egal (8:28)</a>
		<br><a href="mp3/25.mp3">Primal Beat - Dark Echoes From Deep Space</a> (7:49)
		</pre>
	</div>
</div>
-->
<div id="sets" class="container">
	<div class="align-left">
		<span class="fa fa-star"></span>
	</div>
	<div class="align-right">
		<p><h2>Live sets</h2></p>
		<p><li><a href="https://grooveo.com/home?groove_id=7830">5hrs DnB set</a></li>
		<p><li><a href="https://grooveo.com/home?groove_id=8235">5hrs Tech set</a></li>
		<p><li><a href="https://grooveo.com/home?groove_id=7645">2hrs DnB set</a></li>
		<p><li><a href="https://soundcloud.com/10053r/rec-test-mix">1hr Tech set</a></li>
		<p><li><a href="https://livesets.com/10053r/session/13616">1hr Chill set</a></li>
		<p><li><a href="https://livesets.com/10053r/session/11537">1hr Hard set</a></li>
		<p><li><a href="https://livesets.com/10053r/session/11756">1hr Goa set</a></li>
	</div>
</div>
<div id="featured" class="container">
	<div class="align-left">
		<span class="fa fa-facebook"></span>	
	</div>
	<div class="align-right">
		<p><h2>Featured</h2>
		<br>Created for serving public information and sharing some data  
		<br>
		<br>Some useful links:
		<br>
		<br><a href="https://livesets.com/10053r">Livesets</a>
		<br><a href="https://www.mixcloud.com/jay-dee23">Mixcloud</a>
		<br><a href="http://studio089.de">Studio089</a>
		<br>
		<br>Have Fun :]
		</p>	
		<a href="https://facebook.com/10053r" class="button">Visit FB page</a>
	</div>
</div>
<div id="contact" class="container">
	<div class="align-left">
		<span class="fa fa-user"></span>
		<!-- <a href="#" class="image image-full"><img src="img/100.jpg"></img></a> -->
	</div>
	<div class="align-right">
		<p><h2>Contact Form</h2>
		<br>
		<form action="">
			<label for="fname">First Name</label>
			<input type="text" id="fname" name="firstname" placeholder="Your name..">
			<label for="lname">Last Name</label>
			<input type="text" id="lname" name="lastname" placeholder="Your last name..">
			<label for="subject">Subject</label>
			<textarea id="subject" name="subject" placeholder="Write something.." style="height:140px"></textarea>
			<!-- <input type="submit" value="Submit"> -->
			<a href="#" class="button">Submit</a>
			</form>
	</div>
</div>
<div id="copyright" class="container">
	<p>2018 &copy; <a href="#header">10053r</a> -- WIP</p>
</div>
</body>
</html>
